body {
  font-family: "poppins";
}

/* NAVBAR */

.nav-mega {
  width: 100%;
}
.dropdown {
  position: static;
}
.dropdown-menu h5 {
  font-weight: bold;
}
.dropdown-menu h4 {
  font-weight: bold;
  font-size: 14px;
}
.vl {
  border-left: 2px solid darkgray;
}
.dropdown-menu p {
  font-size: 14px;
}

.dropdown-menu.mega-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  min-width: auto;
  width: 100%;
  margin-top: 0;
  padding: 0;
  border-color: #ccc;
}
.dropdown-menu.mega-menu > li {
  padding: 20px;
  list-style: circle;
}
.dropdown-menu.mega-menu .media-list .media {
  padding: 10px;
  font-size: 13px;
}
.dropdown-menu.mega-menu .media-list .media-heading {
  font-size: 16px;
}
.media-body ul li a {
  padding: 0px;
  font-size: 14px;
}

.grid-margin {
  margin-left: 5%;
  margin-right: 5%;
}
.slider-margin {
  margin: 0px 40px;
}
.slider-margin1 {
  margin: 0px 40px;
}
.grid-margin-blue {
  margin-left: 1%;
  margin-right: 1%;
}
.nav-item {
  padding: 0 5px 0 5px;
}
.main-items {
  margin-right: 10px;
}
.nav-item a {
  font-size: 16px;
  font-weight: 500;
  color: #2b2b2b;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  text-decoration: none;
}
.nav-item a:hover {
  color: #0caaed;
  font-weight: bold;
}
.header-img {
  background: rgba(0, 0, 0, 0.5) url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
}

.button {
  padding: 6px 37px 6px 36px;
  font-weight: bold;
  font-size: 22px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  background-color: #2cc4ed;
  width: 120;
  border-radius: 30px;
}

.no-border {
  border: none;
  background: transparent;
  resize: none;
  outline: none;
}
.search {
  background-color: #2cc4ed;
  opacity: 0.5;
  border-radius: 30px;
  margin-right: 180px;
  padding: 12px 10px 12px 18px;
}
.search-input {
  padding: 0px 5px;
}
.search-input input::placeholder {
  padding: 0px 5px;
  color: white;
}
.seacrh .icon img {
  filter: brightness(100) invert(1);
  color: white;
}

/* Landing Page  */

.banner-section {
  padding: 200px 0px;
}
.banner-inner {
  background-color: transparent;
  text-align: center;
}
.banner-inner span {
  font-weight: bold;
  color: white;
  font-size: 24px;
}
.banner-inner h1 {
  font-weight: bold;
  color: #2cc4ed;
  font-size: 70px;
}
.banner-inner-sub h1 {
  font-weight: bold;
  color: #2cc4ed;
  font-size: 70px;
}
.banner-inner .button {
  padding: 8px 40px 8px 40px;
}

.ban-card-sec .card {
  margin-top: 0%;
  border-radius: 15px;
  background-color: white;
  padding: 25px 15px;
  margin-right: 15px;
  max-width: 410px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.ban-card-sec .card:last-child {
  margin-right: 0px;
}
.ban-card-sec .card .card-body {
  padding: 16px 0px;
}
.ban-card-sec .card .card-title {
  font-size: 20px;
  font-weight: bold;
}

.ban-card-sec .card-img {
  width: 100px;
  margin: 10px 0px;
}
.ban-card-sec {
  position: absolute;
  content: "";
  top: 622px;
  left: 0;
  width: 100%;
}
.video-player {
  padding: 125px 0px 50px 0px;
}

.third-sec img {
  width: 96px;
}
.third-sec-inner p {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding-left: 10px;
}

.number-sec {
  background: rgb(25 166 219 / 0.35);
  padding: 20px 0px;
}

.inner-num-sec h1 {
  color: #009cdf;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}
.inner-num-sec span {
  color: #404041;
  font-size: 30;
  font-weight: bold;
}
.blue-sec-img {
  width: 100px;
  /* margin: 16px 0px 0px 20px; */
}
.blue-sec {
  color: #404041;
  font-size: 18px;
  font-weight: bold;
  padding: 20px;
  display: flex;
  align-items: center;
}

.slider .exp-btn {
  text-align: end;
}
.slider {
  padding: 40px 0px;
}

.slider .slider-main {
  margin-bottom: 20px;
}
.slider-header h3 {
  font-size: 30px;
  font-weight: bold;
}
.slider .button {
  padding: 10px 28px 10px 28px;
}

.inner-slider .card {
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.inner-slider .card .slider-img {
  border-radius: 10px;
  height: 100px;
}
.inner-slider .card .card-body {
  padding: 20px 0px;
}
.inner-slider .card .card-title {
  color: #2cc4ed;
  font-weight: bold;
  font-size: 30px;
}
.inner-slider .card .card-text {
  font-size: 20px;
  font-weight: bold;
}
.inner-slider .card-body .button {
  padding: 6px 30px;
}

.inner-slider .tech-card-text p {
  font-size: 12px;
}
.inner-slider .tech-card-img img {
  width: 40px;
  justify-content: flex-end;
}
.img-slider .card img {
  /* height: 200px; */
  max-width: 100%;
}

/* // SLIDER */

/* FOOTER */

.Footer {
  padding: 60px;
}
.logo-footer {
  width: 170px;
}

.Footer .footer-icons li {
  padding-right: 10px;
}
.Footer .footer-icons li img {
  width: 30px;
  height: 30px;
}

.Footer .links p {
  margin-bottom: 10px;
}
.Footer .links p a {
  text-decoration: none;
}
.Footer-last .footer-last-inner span {
  margin-right: 20px;
}
.Footer p {
  font-size: 18px;
  font-weight: bold;
}
.Footer h6 {
  font-size: 25px;
}

.payment-img {
  width: 250px;
}

.footer-color {
  color: #22bae3;
}

/* .Newsletter-sec */

/* newsletter card */
.Newsletter-card {
  position: absolute;
  content: "";
  top: -77px;
  left: 0;
  width: 100%;
}
.Newsletter-card {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Newsletter-card .circle {
  background: #2cc4ed;
}
.Newsletter-card .card-body .card-title {
  font-size: 22px;
}

/* newsletter card end*/

.Newsletter-sec {
  background: rgba(0, 0, 0, 0.5) url("../images/footer-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 130px 0px 70px 0px;
}

.Newsletter-sec .new-text h2 {
  color: #009cdf;
  font-size: 40px;
  font-weight: bold;
}
.Newsletter-sec .new-text p {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.Newsletter-sec .new-input {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  background: rgba(44, 196, 237, 0.4);
  border-radius: 30px;
}

.Newsletter-sec .new-input input {
  background: transparent;
  border: none;
  width: 300px;
  resize: none;
  outline: none;
}
.Newsletter-sec .new-input input::placeholder {
  color: white;
}
.Newsletter-sec .button {
  margin-left: -50px;
  padding: 10px 28px 6px 28px;
}
.ban-card-sec .card .card-image {
  width: 85px;
}
/* Newsletter-sec end */

/* CONTACT US PAGE */

.contact-form {
  border-radius: 15px;
  padding: 15px;
}
.banner-section-con {
  padding: 148px 0px;
}
.contact-main .card {
  padding: 30px 20px;
  border-radius: 15px;
}
.contact-main .card-title {
  font-weight: bold;
  font-size: 18px;
}
.contact-main h5 {
  font-weight: bold;
  font-size: 16px;
}
.contact-main .card-body {
  font-weight: bold;
  font-size: 16px;
}
.contact-input input {
  margin-right: 10px;
  padding: 16px;
}
.contact-input input:last-child {
  margin-right: 0px;
}
.contact-form input {
  padding: 16px;
}
.map {
  padding-left: 20px;
}

.contact-header {
  background: rgba(0, 0, 0, 0.5) url("../images/contact-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
}

/* ABOUT US PAGE */

.about-header {
  background: rgba(0, 0, 0, 0.5) url("../images/about-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
}
.about-main {
  padding: 0px 60px 0px 60px;
}
.about-text {
  margin-top: 40px;
}
.about-text h5 {
  font-weight: bold;
}
.about-team {
  margin: 40px 0px;
}
.about-team h5 {
  font-size: 30px;
  color: #2cc4ed;
  font-weight: bold;
  padding: 10px 0px;
}
.about-team .card {
  margin-right: 26px;
  margin-left: 8px;
}
.about-team .card:last-child {
  margin-right: 8px;
  margin-left: 0px;
}
.about-team .card p {
  font-weight: bold;
  font-size: 26px;
}

/* PRICE LIST PAGE */

.price-blue-sec {
  margin: 40px 0px;
  background-color: #abddef;
}

.price-blue-sec-inner {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
.price-blue-sec-inner h5 {
  font-weight: bold;
  font-size: 24px;
  margin-left: -10px;
}

.price-header {
  background: rgba(0, 0, 0, 0.5) url("../images/about-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
}
.price-text {
  padding: 0px 60px 0px 60px;
}
.price-text .price-text-inner h5 {
  font-weight: bold;
  color: #2cc4ed;
  font-size: 24px;
  margin-left: -10px;
}
.price-text-inner p {
  font-size: 18px;
}

/* XERO INTEGRATION PAGE */
.xero-header {
  background: rgba(0, 0, 0, 0.5) url("../images/xero-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
}
.xero-main {
  padding: 0px 60px 0px 60px;
}
.xero-text {
  margin-top: 40px;
}
.xero-text h5 {
  font-weight: bold;
}
.video iframe {
  height: 300px;
}

/* TECHNICAL GUIDES PAGE */

.sub-header {
  background: rgba(0, 0, 0, 0.5) url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
}
.tech-sec {
  padding: 40px 20px;
}
.tech-sec h5 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 16px;
}

/* MEDIA QUERIES */

@media (max-width: 1886px) {
  .nav-item a:hover {
    color: #009cdf;
  }
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 8px;
  }
  .nav-item a {
    font-size: 20px;
    font-weight: 500;
    color: #2b2b2b;
  }

  .button {
    padding: 8px 28px 8px 28px;
  }
  .search {
    margin-right: 100px;
    padding: 8px 6px 8px 14px;
  }
  .search-input {
    padding: 0px 4px;
  }
}

@media (max-width: 1576px) {
  .nav-item a:hover {
    color: #009cdf;
  }
  .logo {
    width: 150px;
  }
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 8px;
  }
  .nav-item a {
    font-size: 16px;
  }
  .button {
    padding: 6px 28px 6px 28px;
    font-size: 18px;
  }
  .search {
    margin-right: 105px;
    padding: 7px 5px 7px 12px;
  }
}

@media (max-width: 1399px) {
  .nav-item a:hover {
    color: #009cdf;
  }
  .logo {
    width: 130px;
  }
  .logo-footer {
    height: 80px;
    width: 200px;
  }
  .payment-img {
    height: 42px;
    width: 160px;
  }
  .header-img {
    height: 650px;
  }
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 7px;
  }
  .nav-item a {
    font-size: 14px;
  }
  .button {
    padding: 8px 22px 8px 22px;
    font-size: 14px;
  }
  .search {
    margin-right: 80px;
    padding: 5px 8px 5px 12px;
  }
  .no-border {
    width: 150px;
  }
  .search-input input::placeholder {
    font-size: 14px;
  }
  .dropdown-menu p {
    font-weight: 14px;
  }
  .banner-section {
    padding: 190px 0px;
  }
  .banner-inner h1 {
    font-size: 58px;
  }
  .ban-card-sec {
    top: 576px;
  }
  .Newsletter-card {
    top: -66px;
  }
  .ban-card-sec .card .card-image {
    width: 75px;
  }
  .ban-card-sec .card {
    margin-right: 15px;
    max-width: 350px;
    padding: 12px 10px;
  }
  .ban-card-sec .card .card-text {
    font-size: 14px;
  }
  .ban-card-sec .card .card-body {
    padding: 12px 0px 12px 8px;
  }
  .blue-sec {
    font-size: 17px;
  }
  .blue-sec-img {
    width: 90px;
  }
  .Newsletter-card .card-body .card-title {
    font-size: 20px;
  }
  .inner-slider .tech-card-text p {
    font-size: 14px;
  }
  .inner-slider .card .card-text {
    font-size: 18px;
    font-weight: bold;
  }
  .inner-slider .card .card-title {
    color: #2cc4ed;
    font-weight: bold;
    font-size: 30px;
  }
  .Footer p {
    font-size: 16px;
  }
  .Footer h6 {
    font-size: 22px;
  }
  .price-text .price-text-inner h5 {
    font-size: 22px;
  }
  .price-text-inner p {
    font-size: 16px;
  }
  .price-blue-sec-inner h5 {
    font-size: 22px;
  }
  .banner-section-con {
    padding: 120px 0px;
  }
}

@media (max-width: 1199px) {
  .nav-item a:hover {
    color: #009cdf;
  }
  /* .logo {
    width: 140px;
    height: 40px;
  } */
  .logo-footer {
    width: 190px;
  }
  .payment-img {
    height: 42px;
    width: 160px;
  }
  .header-img {
    height: 500px;
  }
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 8px;
  }
  .nav-item a {
    font-size: 12px;
  }
  .dropdown-menu p {
    font-weight: 14px;
  }
  .button {
    padding: 6px 15px 6px 15px;
    font-size: 16px;
  }
  .no-border {
    width: 95px;
  }
  .icon img {
    width: 15px;
  }
  .search {
    margin-right: 40px;
    padding: 2px 8px 2px 12px;
  }
  .search-input input::placeholder {
    font-size: 10px;
    padding: 0px 0px;
  }
  .banner-section {
    padding: 100px 0px;
  }

  .banner-inner span {
    font-size: 20px;
  }
  .banner-inner h1 {
    font-size: 50px;
  }
  .third-sec-inner p {
    font-size: 20px;
  }
  .ban-card-sec {
    top: 442px;
  }
  .Newsletter-card {
    top: -50px;
  }
  .ban-card-sec .card {
    max-width: 286px;
  }
  .ban-card-sec .card .card-body {
    padding: 10px 0px 10px 24px;
  }
  .blue-sec {
    font-size: 15px;
  }
  .blue-sec-img {
    width: 90px;
  }
  .slider-header h3 {
    font-size: 16px;
  }
  .slider .button {
    padding: 8px 12px 8px 12px;
    font-size: 14px;
  }
  .inner-slider .card img {
    border-radius: 10px;
    height: 134px;
  }
  .inner-slider .card .card-title {
    font-size: 26px;
  }
  .inner-slider .card .card-text {
    font-size: 16px;
  }
  .inner-slider .card-body .button {
    padding: 6px 12px;
    font-size: 14px;
  }
  .inner-slider .tech-card-text p {
    font-size: 12px;
  }
  .inner-slider .card img {
    height: auto;
  }
  .Newsletter-card .card-body .card-title {
    font-size: 18px;
  }
  .ban-card-sec .card .card-body {
    padding: 10px 0px 10px 0px;
  }
  .ban-card-sec .card .card-image {
    width: 70px;
  }
  .ban-card-sec .card .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  .ban-card-sec .card .card-text {
    font-size: 13px;
  }
  .third-sec-inner p {
    font-size: 18px;
  }
  .third-sec img {
    width: 80px;
  }
  .Newsletter-card .card .card-title {
    padding-left: 20px;
  }
  .Footer p {
    font-size: 14px;
  }
  .Footer h6 {
    font-size: 18px;
  }
  .about-main {
    padding: 0px 40px 0px 40px;
  }
  .about-main .about-text p {
    font-size: 14px;
  }
  .about-team h5 {
    font-size: 28px;
  }
  .xero-main {
    padding: 0px 40px 0px 40px;
  }
  .xero-main .xero-text p {
    font-size: 14px;
  }
  .price-text .price-text-inner h5 {
    font-size: 20px;
  }
  .price-text-inner p {
    font-size: 16px;
  }
  .price-text {
    padding: 0px 40px 0px 40px;
  }
  .price-blue-sec-inner {
    padding: 16px 40px;
  }
  .price-blue-sec-inner h5 {
    font-size: 20px;
  }
  .banner-section-con {
    padding: 90px 0px;
  }
  .tech-sec h5 {
    font-size: 26px;
  }
  .video iframe {
    height: 250px;
  }
}

@media (max-width: 991px) {
  .search {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 18px;
  }
  .main-img .navbar-con {
    position: absolute;
    top: 100%;
    background: #fff;
    border-radius: 0.25rem;
    width: 100%;
    left: 0;
    text-align: center;
    z-index: 1;
  }
  .header-img .navbar-con .button {
    margin-bottom: 18px;
  }
  .logo {
    width: 130px;
    height: 40px;
  }
  .logo-footer {
    height: 80px;
    width: 190px;
  }
  .header-img {
    height: 400px;
  }

  .banner-inner span {
    font-size: 16px;
  }
  .banner-inner h1 {
    font-size: 40px;
  }
  .banner-inner .button {
    padding: 6px 36px 6px 36px;
  }

  .ban-card-sec .card {
    max-width: 220px;
    padding: 5px 10px;
  }
  .ban-card-sec .card .card-title {
    font-size: 14px;
    font-weight: bold;
  }
  .ban-card-sec .card .card-image {
    width: 60px;
  }
  .ban-card-sec .card .card-text {
    font-size: 11px;
  }
  .ban-card-sec .card .card-body {
    padding: 8px 0px 8px 4px;
  }
  .ban-card-sec {
    top: 344px;
  }
  .Newsletter-card {
    top: -42px;
  }
  .Newsletter-card .card {
    padding: 10px 20px;
  }
  .video-player {
    padding: 80px 0px 30px 0px;
  }
  .third-sec img {
    width: 70px;
  }
  .third-sec-inner p {
    font-size: 14px;
  }
  .number-sec {
    padding: 16px 0px;
  }
  .inner-num-sec h1 {
    font-size: 28px;
  }
  .inner-slider .card .card-title {
    font-size: 24px;
  }
  .slider-header h3 {
    font-size: 26px;
  }
  .inner-slider .card-body .button {
    padding: 6px 8px;
    font-size: 12px;
  }
  .slider .button {
    padding: 8px 14px 8px 14px;
    font-size: 14px;
  }
  .slider .exp-btn {
    text-align: right;
  }
  .blue-sec-img {
    width: 80px;
  }
  .blue-sec {
    font-size: 14px;
  }
  .Newsletter-sec .new-text h2 {
    font-size: 36px;
  }
  .Newsletter-sec .new-text p {
    font-size: 18px;
  }
  .Newsletter-sec .new-input {
    padding: 8px 22px;
  }
  .inner-slider .card .card-text {
    font-size: 16px;
  }
  .Newsletter-sec .new-text h2 {
    font-size: 34px;
  }
  .Newsletter-sec .new-text p {
    font-size: 16px;
  }
  .Newsletter-sec .new-input {
    padding: 7px 10px;
  }
  .Newsletter-sec .new-input input {
    width: 250px;
  }
  .Newsletter-card .card {
    padding: 10px 20px;
  }
  .button {
    padding: 6px 15px 6px 15px;
    font-size: 13px;
  }
  .about-main .about-text p {
    font-size: 13px;
  }
  .about-main .about-text h5 {
    font-size: 16px;
  }
  .about-main {
    padding: 0px 20px 0px 20px;
  }
  .xero-main .xero-text h5 {
    font-size: 16px;
  }
  .xero-main .xero-text p {
    font-size: 13px;
  }
  .xero-main {
    padding: 0px 20px 0px 20px;
  }
  .xero-video iframe {
    height: 350px;
  }
  .price-text .price-text-inner h5 {
    font-size: 18px;
  }
  .price-text-inner p {
    font-size: 15px;
  }
  .price-text {
    padding: 0px 20px 0px 20px;
  }
  .price-blue-sec {
    margin: 30px 0px;
  }
  .price-blue-sec-inner {
    padding: 16px 20px;
  }
  .price-blue-sec-inner h5 {
    font-size: 18px;
  }
  .banner-section-con {
    padding: 70px 0px;
  }
  .video iframe {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
    height: 35px;
  }
  .logo-footer {
    height: 70px;
    width: 160px;
  }
  .header-img {
    height: 350px;
  }

  .banner-section {
    padding: 96px 0px;
  }
  .banner-inner h1 {
    font-size: 28px;
  }
  .banner-inner span {
    font-size: 12px;
  }
  .banner-inner .button {
    padding: 4px 24px 4px 24px;
  }
  .ban-card-sec .card {
    max-width: 400px;
    margin-top: 2%;
    margin-right: 0px;
  }
  .ban-card-sec .card-img {
    text-align: center;
  }
  .tech-sec h5 {
    font-size: 24px;
  }
  .ban-card-sec {
    top: 350px;
  }
  .Newsletter-card {
    top: -296px;
  }
  .ban-card-sec .card .card-text {
    font-size: 14px;
  }
  .ban-card-sec .card .card-title {
    font-size: 16px;
  }
  .video-player {
    padding: 324px 0px 10px 0px;
  }
  .slider-margin {
    margin: 0px 40px 206px 40px;
  }
  .slider-margin1 {
    margin: 0px 40px;
  }
  .slider .slider-main {
    text-align: center;
  }
  .third-sec-inner p {
    text-align: center;
  }
  .inner-num-sec span {
    font-size: 12px;
  }
  .inner-num-sec h1 {
    font-size: 24px;
  }
  .slider-header h3 {
    font-size: 26px;
    margin-bottom: 12px;
    margin-left: 0px;
  }
  .slider .button {
    padding: 8px 20px 8px 20px;
    font-size: 12px;
  }
  .blue-sec-img {
    width: 74px;
  }
  .blue-sec {
    font-size: 12px;
  }
  .Newsletter-sec .new-text h2 {
    font-size: 28px;
  }
  .Newsletter-sec .new-text p {
    font-size: 14px;
  }
  .Newsletter-sec .new-input input {
    width: 200px;
    font-size: 12px;
    font-size: bold;
  }
  .Newsletter-sec {
    padding: 70px 0px 70px 0px;
  }
  .Newsletter-sec .button {
    margin-left: -50px;
    padding: 8px 22px 6px 22px;
  }
  .Footer .social-icons {
    justify-content: center;
  }
  .slider .exp-btn {
    text-align: center;
  }
  .Footer h6 {
    margin-top: 10px;
  }
  .about-main {
    padding: 0px 10px 0px 10px;
  }
  .about-main .about-text p {
    font-size: 12px;
  }
  .about-main .about-text h5 {
    font-size: 14px;
  }
  .about-team h5 {
    font-size: 24px;
  }
  .xero-main {
    padding: 0px 10px 0px 10px;
  }
  .xero-main .xero-text p {
    font-size: 13px;
  }
  .xero-main .xero-text h5 {
    font-size: 16px;
  }
  .xero-video iframe {
    height: 250px;
  }
  .price-text .price-text-inner h5 {
    font-size: 17px;
  }
  .price-text-inner p {
    font-size: 14px;
  }
  .price-text {
    padding: 0px 10px 0px 10px;
  }
  .price-blue-sec {
    margin: 20px 0px;
  }
  .price-blue-sec-inner {
    padding: 12px 10px;
  }
  .price-blue-sec-inner h5 {
    font-size: 17px;
  }
  .banner-section-con {
    padding: 60px 0px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 90px;
  }
  .logo-footer {
    width: 140px;
  }
  .header-img {
    height: 250px;
  }
  .banner-section {
    padding: 30px 0px;
  }
  .banner-inner h1 {
    font-size: 22px;
  }
  .banner-inner span {
    font-size: 10px;
  }
  .banner-inner .button {
    padding: 2px 18px 2px 18px;
  }
  .inner-num-sec h1 {
    font-size: 20px;
  }
  .slider-header h3 {
    font-size: 24px;
  }
  .Newsletter-sec .new-input input {
    font-size: 11px;
  }
  .ban-card-sec {
    top: 254px;
  }
  .Newsletter-card {
    top: -288px;
  }
  .blue-sec-img {
    width: 74px;
  }
  .blue-sec {
    font-size: 12px;
  }
  .video-player {
    padding: 375px 0px 10px 0px;
  }
  .about-main {
    padding: 0px;
  }
  .xero-main {
    padding: 0px;
  }
  .xero-video iframe {
    height: 150px;
  }
  .xero-main .xero-text h5 {
    font-size: 14px;
  }
  .price-blue-sec {
    margin: 10px 0px;
  }
  .price-blue-sec-inner {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .banner-section-con {
    padding: 40px 0px;
  }
  .inner-slider .card .card-title {
    font-size: 20px;
  }
  .tech-sec h5 {
    font-size: 24px;
  }
  .video iframe {
    height: 150px;
  }
}
