body{
  font-family: 'poppins';
}
/* NAVBAR */

.grid-margin {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
}
.nav-item {
  padding: 0 5px 0 5px;
}
.main-items {
  margin-right: 10px;
}
.nav-item a {
  font-size: 20px;
  font-weight: 500;
  color: #2b2b2b;
}
.header-img {
  background: rgba(0, 0, 0, 0.5) url("../images/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode: darken;
}

.button {
  padding: 6px 37px 6px 36px;
  font-weight: bold;
  font-size: 22px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: white;
  background-color: #2cc4ed;
  width: 120;
  border-radius: 30px;
}

.no-border {
  border: none;
  background: transparent;
}
.search {
  background-color: #2cc4ed;
  opacity: 0.5;
  border-radius: 30px;
  margin-right: 180px;
  padding: 12px 10px 12px 18px;
}
.search-input {
  padding: 0px 5px;
}
.search-input input::placeholder {
  padding: 0px 5px;
  color: white;
}
.seacrh .icon img {
  filter: brightness(100) invert(1);
  color: white;
}

/* Landing Page  */

.banner-section {
  padding: 200px 0px;
}
.banner-inner {
  background-color: transparent;
  text-align: center;
}
.banner-inner span {
  font-weight: bold;
  color: white;
  font-size: 24px;
}
.banner-inner h1 {
  font-weight: bold;
  color: #2cc4ed;
  font-size: 70px;
}
.banner-inner .button {
  padding: 8px 40px 8px 40px;
}

.ban-card-sec .card {
  margin-top: -7%;
  border-radius: 15px;
  background-color: white;
  padding: 25px 15px;
  margin-right: 15px;
  max-width: 410px;
}
.ban-card-sec .card:last-child {
  margin-right: 0px;
}
.ban-card-sec .card .card-body {
  padding: 16px 0px;
}
.ban-card-sec .card .card-title {
  font-size: 20px;
  font-weight: bold;
}

.ban-card-sec .card-img {
  width: 100px;
  margin: 10px;
}
.ban-card-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-sec {
  padding: 0px 15px;
}
.third-sec img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
}
.third-sec-inner p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 25px;
}
/* .third-sec p{
  height: 100px;
  line-height: 100px;
  text-align: center;
} */

.number-sec {
  background: rgb(25 166 219 / 0.35);
  padding: 20px 0px;
}
.inner-num-sec {
  text-align: center;
}
.inner-num-sec h1 {
  color: #009cdf;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}
.inner-num-sec span {
  color: #404041;
  font-size: 30;
  font-weight: bold;
}

.circle {
  background: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
}
.circle img {
  max-width: 80px;
  height: 80px;
  margin: 10px;
}
.circle .blue-sec-img {
  max-width: 70px;
  height: 70px;
  margin: 16px 0px 0px 20px;
}
.blue-sec {
  color: #404041;
  font-size: 30;
  font-weight: bold;
  padding: 20px;
}

.slider {
  padding: 40px 0px;
}

.slider .slider-main {
  margin-bottom: 20px;
}
.slider-header h3 {
  font-size: 40px;
  font-weight: bold;
  margin-left: 30px;
}
.slider .button {
  padding: 10px 28px 10px 28px;
}

.inner-slider .card {
  padding: 20px;
  border-radius: 10px;
}

.inner-slider .card .slider-img {
  border-radius: 10px;
  height: 100px;
}
.inner-slider .card .card-body {
  padding: 20px 0px;
}
.inner-slider .card .card-title {
  color: #2cc4ed;
  font-weight: bold;
  font-size: 34px;
}
.inner-slider .card .card-text {
  font-size: 20px;
  font-weight: bold;
}
.inner-slider .card-body .button {
  padding: 10px 80px;
}

.inner-slider .tech-card-text p {
  font-size: 12px;
}
.inner-slider .tech-card-img img {
  height: 70px;
  width: 60px;
  justify-content: flex-end;
}
.img-slider .card img{
  height: 200px;
  max-width: 100%;
}

/* // SLIDER */

/* FOOTER */

.Footer {
  padding: 60px;
}
.logo-footer {
  width: 170px;
}

.Footer .footer-icons li {
  padding-right: 10px;
}
.Footer .footer-icons li img {
  width: 30px;
  height: 30px;
}

.Footer .links p {
  margin-bottom: 10px;
}
.Footer .links p a {
  text-decoration: none;
}
.Footer-last .footer-last-inner span {
  margin-right: 20px;
}
.Footer p{
  font-size: 18px;
  font-weight: bold;
}
.Footer h6{
  font-size: 25px;
}


.payment-img {
  width: 250px;
}
.inline {
  display: flex;
  flex-direction: row;
}
.in1 {
  justify-content: flex-start;
}
.in2 {
  justify-content: flex-end;
}

.footer-color {
  color: #22bae3;
}

/* .Newsletter-sec */

/* newsletter card */
.Newsletter-card {
  margin-top: 7%;
  margin-bottom: -7%;
}

.Newsletter-card .circle {
  background: #2cc4ed;
}
.Newsletter-card .card-body .card-title {
  font-size: 22px;
}

/* newsletter card end*/

.Newsletter-sec {
  background: rgba(0, 0, 0, 0.5) url("../images/images/footer-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 130px 0px 70px 0px;
}

.Newsletter-sec .new-text h2 {
  color: #009cdf;
  font-size: 40px;
  font-weight: bold;
}
.Newsletter-sec .new-text p {
  font-size: 20px;
  color: white;
  font-weight: bold;
}
.Newsletter-sec .new-input {
  padding: 10px 30px;
  background: rgba(44, 196, 237, 0.4);
  /* background-color: #009cdf; */
  border-radius: 30px;
}
.Newsletter-sec .new-input input {
  background: transparent;
  border: none;
  width: 300px;
}
.Newsletter-sec .new-input input::placeholder {
  color: white;
}
.Newsletter-sec .button {
  margin-left: -50px;
  padding: 10px 28px 6px 28px;
}
/* Newsletter-sec end */

/* MEDIA QUERIES */

@media (max-width: 1886px) {
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 8px;
  }
  .nav-item a {
    font-size: 20px;
    font-weight: 500;
    color: #2b2b2b;
  }
  .button {
    padding: 8px 28px 8px 28px;
  }
  .search {
    margin-right: 100px;
    padding: 8px 6px 8px 14px;
  }
  .search-input {
    padding: 0px 4px;
  }
}

@media (max-width: 1576px) {
  .logo {
    width: 150px;
  }
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 8px;
  }
  .nav-item a {
    font-size: 16px;
  }
  .button {
    padding: 6px 28px 6px 28px;
    font-size: 18px;
  }
  .search {
    margin-right: 105px;
    padding: 7px 5px 7px 12px;
  }
}

@media (max-width: 1399px) {
  .logo {
    width: 130px;
  }
  .logo-footer {
    height: 80px;
    width: 200px;
  }
  .payment-img {
    height: 42px;
    width: 160px;
  }
  .header-img {
    height: 650px;
  }
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 7px;
  }
  .nav-item a {
    font-size: 14px;
  }
  .button {
    padding: 8px 22px 8px 22px;
    font-size: 14px;
  }
  .search {
    margin-right: 80px;
    padding: 5px 8px 5px 12px;
  }
  .no-border {
    width: 150px;
  }
  .search-input input::placeholder {
    font-size: 14px;
  }
  .banner-section {
    padding: 190px 0px;
  }
  .banner-inner h1 {
    font-size: 58px;
  }
  .ban-card-sec .card {
    margin-top: -7%;
    margin-right: 15px;
    max-width: 350px;
    padding: 12px 10px;
  }
  .ban-card-sec .card .card-body {
    padding: 12px 0px 12px 8px;
  }
  .Newsletter-card .card-body .card-title {
    font-size: 20px;
  }
  .inner-slider .tech-card-text p {
    font-size: 14px;
  }
  .Footer p{
    font-size: 16px;
  }
  .Footer h6{
    font-size: 22px;
  }
}

@media (max-width: 1199px) {
  /* .logo {
    width: 140px;
    height: 40px;
  } */
  .logo-footer {
    width: 190px;
  }
  .payment-img {
    height: 42px;
    width: 160px;
  }
  .header-img {
    height: 500px;
  }
  .nav-item {
    padding: 0 4px 0 4px;
  }
  .main-items {
    margin-right: 8px;
  }
  .nav-item a {
    font-size: 12px;
  }
  .button {
    padding: 6px 15px 6px 15px;
    font-size: 13px;
  }
  .no-border {
    width: 95px;
  }
  .icon img {
    width: 15px;
  }
  .search {
    margin-right: 40px;
    padding: 2px 8px 2px 12px;
  }
  .search-input input::placeholder {
    font-size: 10px;
    padding: 0px 0px;
  }
  .banner-section {
    padding: 100px 0px;
  }

  .banner-inner span {
    font-size: 20px;
  }
  .banner-inner h1 {
    font-size: 50px;
  }
  .third-sec-inner p {
    font-size: 20px;
  }
  .ban-card-sec .card {
    margin-top: -6%;
    max-width: 286px;
    padding: 4px 4px;
  }
  .ban-card-sec .card .card-body {
    padding: 10px 0px 10px 24px;
  }
  .slider-header h3 {
    font-size: 34px;
  }
  .slider .button {
    padding: 10px 16px 10px 16px;
  }
  .inner-slider .card img {
    border-radius: 10px;
    height: 134px;
  }
  .inner-slider .card .card-title {
    font-size: 30px;
  }
  .inner-slider .card .card-text {
    font-size: 18px;
  }
  .inner-slider .card-body .button {
    padding: 10px 70px;
  }
  .inner-slider .tech-card-text p {
    font-size: 12px;
  }
  .inner-slider .card img {
    height: auto;
  }
  .Newsletter-card .card-body .card-title {
    font-size: 18px;
  }
  .ban-card-sec .card .card-body {
    padding: 10px 0px 10px 0px;
  }
  .ban-card-sec .card .card-image {
    width: 70px;
  }
  .ban-card-sec .card .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  .ban-card-sec .card .card-text {
    font-size: 15px;
  }
  .third-sec-inner p {
    font-size: 18px;
  }
  .third-sec img {
    width: 100px;
  }
  .Newsletter-card .card .card-title {
    padding-left: 20px;
  }
  .Footer p{
    font-size: 14px;
  }
  .Footer h6{
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .logo {
    width: 130px;
    height: 40px;
  }
  .logo-footer {
    height: 80px;
    width: 190px;
  }
  .header-img {
    height: 400px;
  }

  .banner-inner span {
    font-size: 16px;
  }
  .banner-inner h1 {
    font-size: 40px;
  }
  .banner-inner .button {
    padding: 6px 36px 6px 36px;
  }

  .ban-card-sec .card {
    max-width: 220px;
  }
  .ban-card-sec .card .card-title {
    font-size: 14px;
    font-weight: bold;
  }
  .ban-card-sec .card .card-image {
    width: 60px;
  }
  .ban-card-sec .card .card-text {
    font-size: 12px;
  }
  .ban-card-sec .card .card-body {
    padding: 8px 0px 8px 4px;
  }

  .third-sec img {
    width: 86px;
  }
  .third-sec-inner p {
    font-size: 14px;
  }
  .number-sec {
    padding: 16px 0px;
  }
  .inner-num-sec h1 {
    font-size: 28px;
  }
  .inner-slider .card .card-title {
    font-size: 24px;
  }
  .slider-header h3 {
    font-size: 26px;
  }
  .inner-slider .card-body .button {
    padding: 6px 25px;
  }
  .slider .button {
    padding: 8px 14px 8px 14px;
    font-size: 14px;
  }
  .slider .exp-btn{
    text-align: right;
  }
  /* .circle {
    height: 80px;
    width: 80px;
  }
  .circle img {
    max-width: 80px;
    height: 80px;
    margin: 5px;
  }
  .circle .blue-sec-img {
    max-width: 70px;
    height: 70px;
    margin: 4px 0px 0px 10px;
  } */
  .Newsletter-sec .new-text h2 {
    font-size: 36px;
  }
  .Newsletter-sec .new-text p {
    font-size: 18px;
  }
  .Newsletter-sec .new-input {
    padding: 8px 22px;
  }
  .inner-slider .card .card-text {
    font-size: 16px;
  }
  .Newsletter-sec .new-text h2 {
    font-size: 34px;
}
.Newsletter-sec .new-text p {
  font-size: 16px;
}
.Newsletter-sec .new-input {
  padding: 7px 10px;
}
.Newsletter-sec .new-input input {

  width: 250px;
}
  .Newsletter-card .card {
    padding: 6px 20px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 120px;
    height: 35px;
  }
  .logo-footer {
    height: 70px;
    width: 160px;
  }
  .header-img {
    height: 350px;
  }

.banner-section {
    padding: 96px 0px;
}
.banner-inner h1 {
  font-size: 28px;
}
.banner-inner span {
  font-size: 12px;
}
.banner-inner .button {
  padding: 4px 24px 4px 24px;
}
.ban-card-sec .card {
  max-width: 400px;
  margin-top: 2%;
  margin-right: 0px;
}
.ban-card-sec .card-img {
  text-align: center;
}
.ban-card-sec .card .card-text {
  font-size: 14px;
}
.ban-card-sec .card .card-title {
  font-size: 16px;
}
.slider .slider-main {
  text-align: center;
}
.third-sec-inner p {
  text-align: center;
}
.inner-num-sec span {
  font-size: 12px;
}
.inner-num-sec h1 {
  font-size: 24px;
}
.slider-header h3 {
  font-size: 28px;
  margin-bottom: 12px;
  margin-left: 0px;
}
.slider .button {
  padding: 8px 20px 8px 20px;
  font-size: 14px;
  
}
.Newsletter-sec .new-text h2 {
  font-size: 28px;
}
.Newsletter-sec .new-text p {
  font-size: 14px;
}
.Newsletter-sec .new-input input {
  width: 200px;
  font-size: 13px;
  font-size: bold;
}
.Newsletter-sec .button {
  margin-left: -50px;
  padding: 8px 22px 6px 22px;
}
.Footer .social-icons{
justify-content: center;
}
.slider .exp-btn {
  text-align: center;
}
.Footer h6{
  margin-top: 10px;
}
}

@media (max-width: 576px) {
  .logo {
    width: 90px;
  }
  .logo-footer {
    width: 140px;
  }
  .header-img {
    height: 250px;
  }
  .banner-section {
    padding: 30px 0px;
}
.banner-inner h1 {
  font-size: 22px;
}
.banner-inner span {
  font-size: 10px;
}
.banner-inner .button {
  padding: 2px 18px 2px 18px;
}
.inner-num-sec h1 {
  font-size: 20px;
}
.slider-header h3 {
  font-size: 24px;
}
}
